<mat-card>
    <mat-card-content>

        <div class="alto-logo">
            <img src="./assets/images/alto_logo.png">
        </div>

        <div class="route-image">
            <img src="./assets/images/Map_overview.png">
        </div>

        <p class="title">YOUR TRIP</p>

        <div class="eta-container">
            <div class="eta">{{ tripDetails?.trip?.estimated_arrival | date: 'h:mm a' }}</div>
            <div class="dropoff-location">Estimated arrival at {{ tripDetails?.trip?.dropoff_location?.name }}</div>
        </div>

        <div>
            <hr>
        </div>

        <div class="vibe-container">
            <div class="vibe">
                <p>Current Vibe</p>
                <span>{{ tripDetails?.vibe?.name }}</span>
            </div>
        </div>

        <div>
            <button>CHANGE VEHICLE VIBE</button>
            <hr class="horizontal-row">
        </div>

        <div class="footer-container">
            <img class="person-icon" src="./assets/images/person_icon.png">
            <div class="footer-text">
                <p class="footer-location">{{ tripDetails?.trip?.dropoff_location?.city }}</p>
                <p>ETA: {{ tripDetails?.trip?.estimated_arrival | date: 'h:mm a' }}</p>
            </div>
            <img class="target-icon" src="./assets/images/target_icon.png">
        </div>
    </mat-card-content>
</mat-card>