<mat-card>
    <mat-card-content>

        <img class="alto-logo" src="./assets/images/alto_logo.png">

        <img class="route-image" src="./assets/images/Map_overview.png">
    
        <p class="title">YOUR TRIP</p>

        <div class="eta-container">
            <div class="eta">{{ tripDetails?.trip?.estimated_arrival | date: 'h:mm a' }}</div>
            <div class="dropoff-location">Estimated arrival at {{ tripDetails?.trip?.dropoff_location?.name }}</div>
        </div>

        <hr>

        <p>
            Steph Festiculma is a graduate of Parsons New School
            in New York and fluent in Portugeuse, Spanish and
            English. Steph has been driving with Alto since 2018.
        </p>

        <div>
            <button>CONTACT DRIVER</button>
            <hr class="horizontal-row">
        </div>

        <div class="footer-container">
            <img class="person-icon" src="./assets/images/person_icon.png">
            <div class="footer-text">
                <p class="footer-location">{{ tripDetails?.trip?.dropoff_location?.city }}</p>
                <p>ETA: {{ tripDetails?.trip?.estimated_arrival | date: 'h:mm a' }}</p>
            </div>
            <img class="target-icon" src="./assets/images/target_icon.png">
        </div>
    </mat-card-content>
</mat-card>